.Add{
    transform: translate(-50%, 0);
    height: 40px;
    width: 160px;
    outline: 1px solid black;
    box-shadow: 5px 5px 5px black;
    margin-left: 80px;
}

.Block{
    /* background-color: rgb(187, 187, 187); */
    margin: 30px 170px;
    padding: 30px;
}


input {
    margin: 5px;
    padding: 5px;
    display: inline-flex;
}



